/* ================================================================================
 * Corredor
 * ================================================================================ */

@import url("./core.css");

:root {
  --nn-colour-base      : #34383b;
  --nn-colour-background: #fdfeff;
  --nn-colour-link-base : #f0a;
  --nn-colour-link-hover: #06f;
}
