/* ================================================================================
 * El Mylar
 * ================================================================================ */

@import url("./core.css");

:root {
  --nn-colour-base      : #343b38;
  --nn-colour-background: #fdfffa;
  --nn-colour-link-base : #06f;
  --nn-colour-link-hover: #39f;
}
