/*! El Mylar : Neo (@Neos21) http://neos21.hateblo.jp/ */
/*! Responsive: yes */

// Neo's Normalize
@import '../../node_modules/@neos21/neos-normalize/neos-normalize';

/*! El Mylar [Styles] : Neo (@Neos21) http://neos21.hateblo.jp/ */


/* ==================================================
 * 変数定義
 * ================================================== */

// Neo's Normalize と同値の変数
$nn-grey-bg     : #f2f4f6;
$nn-grey-border : #d2d4d6;
$nn-green-bg    : #ddffee;
$nn-green-border: #00ddaa;
$nn-sans-serif  : -apple-system, BlinkMacSystemFont, "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;  /* 英字フォントを挟まず和英混在フォントのみを使用する */
$nn-monospace   : MeiryoKe_Gothic, "Ricty Diminished", "Osaka－等幅", "Osaka-等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", "Courier New", Courier, Monaco, Menlo, Consolas, "Lucida Console", monospace;

// メディアクエリ用
$breakpoint-xs:  575.98px;  // @media (max-width: $breakpoint-xs)
$breakpoint-sm:  576px   ;  // @media (min-width: $breakpoint-sm)
$breakpoint-md:  768px   ;  // @media (min-width: $breakpoint-md)
$breakpoint-lg:  992px   ;  // @media (min-width: $breakpoint-lg)
$breakpoint-xl: 1200px   ;  // @media (min-width: $breakpoint-xl)

// テーマカラー
$colour-white                 : #ffffff;
$colour-black                 : #000000;
$colour-grey-hatena           : #dddddd;  // blog.css で使用されるカラー
$colour-grey-darken           : #72767a;  // 主に文字色
$colour-blue                  : #0070ff;
$colour-blue-lighten          : #5588ff;  // リンクホバー時の色
$colour-heading-blue          : #3e8ac0;
$colour-heading-blue-darken   : #2e7ab0;
$colour-heading-grey-bg       : #fcfcfc;
$colour-heading-grey-bg-darken: #f0f0f0;
$colour-heading-grey          : #959799;


/* ==================================================
 * ミックスイン定義
 * ================================================== */

// Clear Fix
@mixin clearfix() {
  content: "";
  display: block;
  clear: both;
}

// 中央揃え・はみ出し無視
@mixin center() {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

// 英文のみの要素用のフォント指定
@mixin english-font-family() {
  font-family: Verdana, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

// li 要素をリセットする
@mixin reset-list() {
  margin-left: 0;
  list-style: none;
}

// レスポンシブルにボックス幅を変更する
@mixin responsive-width() {
  width: auto;
  margin: 0 auto;
  padding: 0 .8rem;
  
  @media (min-width: $breakpoint-md) {
    width: 85vw;
    min-width: calc(#{$breakpoint-md} - 20px);
  }
  
  @media (min-width: $breakpoint-xl) {
    min-width: auto;
  }
}

/* 
 * レスポンシブルにフォントサイズを変更する
 * 
 * - calc(XX + ((1vw - YY) * ZZ))
 *   - XX = 最小サイズを Rem で指定する
 *          ex. 通常 1rem (= 16px) で良い
 *   - YY = 拡大を始めるビューポート幅 / 100 (px)
 *          ex. 992px から拡大するなら 9.92px
 *   - ZZ = 100 * 可変させるフォントサイズの差 / 可変させるビューポート幅の差
 *          ex. 100 * (18px - 16px) / (1200px - 992px) = 100 * 2px / 208px = 0.96153...
 * - 参考 : https://websemantics.uk/tools/responsive-font-calculator/
 */
@mixin responsive-font-size() {
  // 最小サイズ (基準)
  font-size: 16px;
  
  // 可変
  @media (min-width: $breakpoint-lg) {
    font-size: calc(1rem + ((1vw - 9.92px) * .96153));
  }
  
  // 最大サイズ
  @media (min-width: $breakpoint-xl) {
    font-size: 18px;
  }
}


/* ==================================================
 * 要素全般
 * ================================================== */

html {
  overflow-x: hidden;
}

body {
  color: $colour-black;
  font-size: 16px;  // レスポンシブフォントサイズの最小サイズに合わせる
  background: $colour-white;
}

a {
  color: $colour-blue;
  text-decoration: none;
  
  &:hover {
    color: $colour-blue-lighten !important;
  }
}


/* ==================================================
 * 自前のクラス
 * ================================================== */

// follow : プロフィール欄のフォローリンク
.n-f {
  // 各リンク用のミックスイン
  @mixin n-f($n-f-colour) {
    a {
      border: 1px solid $n-f-colour;
      color: $n-f-colour;
      
      &:hover {
        background: $n-f-colour;
      }
    }
  }
  
  // 幅が狭い時は5列にする
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: .7rem;
  
  // 2列・3列で2行作る : 各アイテムの grid-column で結合利用するセルを指定する
  @media (min-width: $breakpoint-md) {
    grid-template-columns: 30% 14% 14% 30%;
    grid-gap: .7rem 4%;
  }
  
  li {
    line-height: 1;
  }
  
  // li
  .n-f-ha { @include n-f(#3d3f44); }
  .n-f-fe { @include n-f(#67c150); }
  .n-f-tw { @include n-f(#55acee); }
  .n-f-fb { @include n-f(#3a5795); }
  .n-f-ig { @include n-f(#3f729b); }
  
  // li : 2列・3列で2行作る時の結合利用するセルを指定する
  @media (min-width: $breakpoint-md) {
    .n-f-ha { grid-column: 1 / 3; }
    .n-f-fe { grid-column: 3 / 5; }
    .n-f-tw { grid-column: 1 / 2; }
    .n-f-fb { grid-column: 2 / 4; }
    .n-f-ig { grid-column: 4 / 5; }
  }
  
  a {
    display: block;
    border-radius: 4px;
    padding: .4rem 0;
    text-align: center;
    overflow: hidden;
    transition: color .2s, background-color .2s;
    
    &:hover {
      color: $colour-white !important;
    }
  }
  
  i {
    display: block;
    padding-bottom: .15rem;  // アイコンの垂直中央を揃える
    font-size: 1.75rem;
  }
  
  span {
    display: none;  // 幅が狭い時は非表示にする
    font-size: .8rem;
    white-space: nowrap;
    
    @media (min-width: $breakpoint-md) {
      display: block;
    }
  }
  
  // IE11 だけ Grid を修正する : アイコンのみ・5列1行表示に統一する
  @media all and (-ms-high-contrast: none) {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;  // repeat が使えない
    
    li {
      margin: 0 .1rem;  // grid-gap の代わり
    }
    
    .n-f-ha { -ms-grid-column: 1; }
    .n-f-fe { -ms-grid-column: 2; }
    .n-f-tw { -ms-grid-column: 3; }
    .n-f-fb { -ms-grid-column: 4; }
    .n-f-ig { -ms-grid-column: 5; }
    
    // 幅が広がってもテキストを見せない
    span {
      display: none !important;
    }
  }
}

// share : 記事下部のシェアリンク
.n-s {  // ul
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  // IE11 だけ Grid を修正する
  @media all and (-ms-high-contrast: none) {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    
    .n-s-ha { -ms-grid-column: 1; }
    .n-s-tw { -ms-grid-column: 2; }
    .n-s-fb { -ms-grid-column: 3; }
    .n-s-po { -ms-grid-column: 4; }
  }
  
  li {
    @include reset-list();
    
    text-align: center;
    overflow: hidden;
    
    &:first-child { border-radius: 4px 0   0   4px; }
    &:last-child  { border-radius: 0   4px 4px 0  ; }
  }
  
  .n-s-ha { background:#006fbb; }
  .n-s-tw { background:#55acee; }
  .n-s-fb { background:#3a5795; }
  .n-s-po { background:#ed4055; }
  
  a {
    display: block;
    padding: .6rem 0;
    color: $colour-white !important;
    line-height: 1;
    transition: background-color .2s;
    
    &:hover {
      background:rgba(255, 255, 255, .2);
    }
    
    i {
      display: block;
      margin-bottom: .4rem;
      font-size: 1.5rem;
    }
    
    span {
      display: block;
      font-size: .9rem;
      white-space: nowrap;
    }
  }
}

// google-adsense : サイドバー・フッタ (記事下部) の AdSense 用
// バナー貼付用 : 中央寄せ・はみ出し禁止
.n-ga,
.banner {
  @include center();
}


/* ==================================================
 * 全体
 * ================================================== */

// 画面上部から出てくるスマホ向け AdSense 広告が画面を押し下げるので指定する
#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* ==================================================
 * 2カラムレイアウト調整
 * ================================================== */

#content {
  @include responsive-width();
  
  #content-inner {
    @media (min-width: $breakpoint-md) {
      display: grid;
      grid-template-columns: minmax(440px, auto) minmax(250px, 350px);  // #wrapper (#main) … 440px ～ ・ #box2 … 250px ～ 350px
      
      // IE11 だけ Grid を修正する
      @media all and (-ms-high-contrast: none) {
        display: -ms-grid;
        -ms-grid-columns: calc(100% - 250px) 250px;  // minmax() が効かないようなので最小幅のままにする
      }
    }
    
    #wrapper {
      @include responsive-font-size();
      
      // #content-inner の grid-template-columns と同値を入れておき突っ張り棒にする
      @media (min-width: $breakpoint-md) {
        border-right: 1px solid $colour-grey-hatena;
        padding-right: 1rem;
        min-width: 440px;
        
        // IE11 だけ Grid を修正する
        @media all and (-ms-high-contrast: none) {
          -ms-grid-column: 1;
        }
      }
    }
    
    #box2 {
      margin-top: 4rem;  // 1カラムの時はメインコンテンツとの間隔を開ける
      
      // #content-inner の grid-template-columns と同値を入れておき突っ張り棒にする
      @media (min-width: $breakpoint-md) {
        margin-top: 0;
        margin-left: -1px;
        border-left: 1px solid $colour-grey-hatena;
        padding-left: 1rem;
        min-width: 250px;
        
        // IE11 だけ Grid を修正する
        @media all and (-ms-high-contrast: none) {
          -ms-grid-column: 2;
        }
      }
    }
  }
}


/* ==================================================
 * はてなブログのクラス
 * ================================================== */

// 日付 : 灰色
.date,
.date a,
.urllist-date-link a {
  @include english-font-family();
  
  color: $colour-grey-darken;
}

// サイドバーなどで使用するモジュール
.hatena-module {
  margin-bottom: 3.5rem;
  
  // リストをリセットしておく
  li {
    @include reset-list();
  }
  
  // タイトル
  .hatena-module-title {
    margin-bottom: 1.5rem;
    border-bottom: 2px solid $colour-grey-hatena;
    color: $colour-black;
    font-size: 1.25rem;
    font-weight: bold;
    
    a {
      color: inherit;
    }
  }
  
  // .hatena-module-body
  
  // URL リスト
  .hatena-urllist {  // ul
    li {
      border-bottom: 1px solid $colour-grey-hatena;
      padding: .8rem 0;
      line-height: 1.4;
    }
    
    // 記事タイトル
    .urllist-title-link {  // a
      color: inherit;
      font-size: 1rem;
    }
    
    // カテゴリ (Latests・Hot Entries など)
    .urllist-categories {
      &::after {
        @include clearfix();
      }
    }
    
    .urllist-category-link {  // a
      color: $colour-grey-darken;
      font-size: .8em;
    }
    
    // サムネイル
    .urllist-image {  // img
      margin-top: .4em;
      margin-bottom: 0;
    }
  }
}


/* ==================================================
 * Google AdSense
 * ================================================== */

// 通常広告 : リサイズ時に中央揃えになるよう上書き
ins.adsbygoogle {
  margin-right: auto !important;
  margin-left: auto !important;
}

// 自動挿入広告
.google-auto-placed {
  overflow: hidden;
}


/* ==================================================
 * ヘッダ
 * ================================================== */

#blog-title {  // header
  // 背景画像の位置調整用のオフセット
  $header-height-min: 100px;
  $header-height-max: 200px;
  
  #blog-title-inner {
    height: $header-height-min !important;  // $breakpoint-md 未満時の高さ・背景位置にする
    background: url("http://cdn-ak.f.st-hatena.com/images/fotolife/n/neos21/20160522/20160522120246.jpg") no-repeat center center / cover !important;
    transition: height .2s;
    
    // $breakpoint-md 以上の高さ設定
    @media (min-width: $breakpoint-md) {
      height: $header-height-max !important;
    }
  }
  
  #blog-title-content {
    line-height: 1;
  }
  
  #title {  // h1
    @include responsive-width();
    @include english-font-family();
    
    padding-top: .7rem;
    letter-spacing: .1em;
    transition: padding-top .2s;
    
    @media (min-width: $breakpoint-md) {
      padding-top: 60px;
    }
    
    a {
      color: $colour-white;
      text-shadow: $colour-black  0 0 20px !important;
      
      &:hover {
        color: $colour-white !important;
        opacity: .7;
      }
    }
  }
  
  #blog-description {  // h2
    @include responsive-width();
    
    padding-top: 5px;
    color: $colour-white;
    font-size: 1em;
    text-shadow: $colour-black 0 0 10px !important;
    letter-spacing: .2em;
    transition: padding-top .2s;
    
    @media (min-width: $breakpoint-md) {
      padding-top: 40px;
    }
  }
}


/* ==================================================
 * ヘッダ・タイトル下 自由編集欄
 * ================================================== */

#top-editarea {
  @include center();
  
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/* ==================================================
 * パンくずリスト
 * ================================================== */

#top-box {
  @include responsive-width();
  
  .breadcrumb {
    margin-bottom: 1.5rem;
    border: 1px solid $colour-grey-hatena;
    border-radius: 4px;
    padding: .5rem 1rem;
  }
}


/* ==================================================
 * エントリ
 * 
 * #content > #content-inner > #wrapper > #main > #main-inner > .entry
 * ================================================== */

.entry {  // article
  margin-bottom: 4rem;
  
  // .entry-inner
}

// エントリ ヘッダ
// --------------------------------------------------
.entry-header {  // header
  position: relative;  // 「編集」ボタン用
  margin-bottom: 2rem;
  border-bottom: 1px solid $colour-grey-hatena;
}

// 記事タイトル : .archive-entry-header と共用
.entry-title { // h1
  margin-bottom: 1rem;
  font-size: 1.5em;
  line-height: 1.3;
  
  .entry-title-link {  // a
    color: inherit;
  }
}

// カテゴリ
.entry-categories {
  padding-bottom: .5em;  // .entry-category-link の margin-bottom と合わせて 1em にする
  overflow: hidden;
  
  &::after {
    @include clearfix();
  }
  
  // カテゴリ一項目 : 幅が狭い時は折り返させないようにする
  .entry-category-link {  // a
    float: left;
    display: block;
    height: 2.4em;
    margin: 0 .5em .5em 0;
    padding: 0 .6em;
    border: 1px solid $colour-grey-hatena;
    border-radius: 4px;
    color: $colour-black;
    font-size: .8em;
    line-height: 2.4em;
    
    @media (max-width: $breakpoint-xs) {
      white-space: nowrap;
    }
  }
}

// 「編集」ボタン
.entry-header-menu {
  position: absolute;
  top: -2em;
  left: 0;
  
  @media (min-width: $breakpoint-lg) {
    top: auto;
    left: -4em;
  }
  
  a {
    border: 1px solid $colour-grey-hatena;
    padding: .5em;
    background: $colour-white;
  }
}

// エントリ メイン
// --------------------------------------------------
.entry-content {
  margin-bottom: 1.25rem;
  border-bottom: 1px solid $colour-grey-hatena;
  padding-bottom: 1rem;
  
  // ブロック要素
  // --------------------------------------------------
  
  h1 {
    position: relative;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid $colour-grey-hatena;
    border-radius: 4px;
    padding: .25em .5rem .25em 1rem;
    font-size: 1.5em;
    line-height: 1.4;
    background: linear-gradient(to bottom, $colour-heading-grey-bg, $colour-heading-grey-bg-darken);
    
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 4px 0 0 4px;
      width: .5rem;
      height: 100%;
      background: $colour-heading-blue;
    }
  }
  
  h2 {
    margin-top: 2rem;
    border-radius: 4px;
    padding: .25em .5rem .25em;
    color: $colour-white;
    font-size: 1.4em;
    background: linear-gradient(to bottom, $colour-heading-blue, $colour-heading-blue-darken);
  }
  
  h3 {
    margin-top: 1.75rem;
    border-bottom: 2px solid $colour-heading-blue;
    border-radius: 6px 6px 0 0;
    padding: .25em .5rem;
    font-size: 1.3em;
    background: linear-gradient(to bottom, $colour-heading-grey-bg, $colour-heading-grey-bg-darken);
  }
  
  h4 {
    border-bottom: 1px dashed $colour-heading-grey;
    border-left: .5rem solid $colour-heading-grey;
    padding: 0 .5rem;
    font-size: 1.2em;
  }
  
  h5, h6 {
    border-bottom: 1px solid $colour-grey-hatena;
    padding: 0 .5rem;
  }
  
  pre {
    font-family: $nn-monospace !important;
    overflow-x: scroll;
    word-break: keep-all;
    word-wrap: normal;  // iPhone で折り返しが発生するため指定する
    white-space: pre;
  }
  
  blockquote {
    margin-left: 1rem;
    padding: 1rem 1rem 0;
    
    // 引用ツールが挿入されるため余白のズレをなくす
    & > :last-child {
      margin-bottom: 1rem;
    }
  }
  
  dd, li {
    margin-left: 2rem;
  }
  
  // インライン要素
  // --------------------------------------------------
  
  // コード : Neo's Normalize のスタイルで上書き
  :not(pre) > code,
  :not(pre) > var,
  :not(pre) > samp,
  :not(pre) > kbd {
    margin: 0 .25em;
    border: 1px solid $nn-grey-border;
    border-radius: 4px;
    padding: .1em .4em;
    font-family: $nn-monospace !important;
    background: $nn-grey-bg;
  }
  
  em,
  em * {
    color: #296;
  }
  
  strong,
  strong * {
    color: #f08;
  }
}

// 個別
// --------------------------------------------------

// Amazon・楽天商品リンク
// --------------------------------------------------
.hatena-asin-detail {
  border-radius: 4px;
  // Amazon 商品リンク : 背景アイコン
  background: linear-gradient(to right, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)),
              url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACkElEQVRoge2YybGjMBCGOwRCIARdbHHUxRYn6BAcgjMgBEJwCFRZfmdCIARCIISeg9ozeJEMBci8GrqqTyD4P/WiBWCzzTbb7G5CYbQ/ZoXU+UXqvJY6b6TOO6nzVuq8ss/wLBRG39b6YEmKSuqsZLE00KtVgEiN5xGin71LUlS/VXwfIv6t4u/efgEgb2YEoKBRsEXrFVTvDiiEwihJMR4Srf0xK4IBcJt0iMlKB/TpU1cKCdCOLUihMFpNHeyPiPLfYtWHufjGecBJ6rwLpf+tCYXRp4Vp1QBDbNUAdh+EyFuKmttsy971fF0AtjhH74PWAcD9farw7wDMvJUIC8Bt1DfzrdRZmaR42h1QJCnGA9aBcABcpC4htaudrgKAZ98lwntIWQUAd5y3IvZHRNe43QHFSgDyyiXCtyUeUvShANqxAFzAvrr5OAFzAjiFuPb0vrR7dDwHAPgkxl6bCIWRzfuh4m0dLB6FBRawlza8KMCAbjLZA0TBd6T0pwjf3Pne8R6KZjHuKs5u5BZv1wn3+Tgrg93WMcTQSNS7A4r+ePm4nnRBOtA7ezofs5i8kzpv9seseBbeNx7TJSmeAkpe1qiCiAwUZKAhAx0ZILpBSwaG3xuRgZpu8PZ+Z2mjG1zYS7pBSQaqO8TYD5U88CsgD1psNJrxA69wIgPEXpEB525zLiMDqpdCDQDA6BR6+OAPCP4Y/XUbHUUVTG55nPPYE33/T00/IPj/RD/gbAbDfnSFE88EPXnH0Sk4YorhYvaIKohZCPI7BRmoXybGetOPNBkoZk1jusLZATLVa7rC+TmqdIPLHJF+BbmHfRpMQwaKyekxGaaCmCNz4dSoe2Ade0MGKq4fXGRWN9vsP7Q/PeTs283e6DMAAAAASUVORK5CYII=") no-repeat right 10px bottom 10px / 48px 48px;
              
  // 楽天商品リンク : 背景アイコン
  &.hatena-rakuten-detail {
    background: linear-gradient(to right, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)),
                url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MC41OCA1MS4wNiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNiZjAwMDA7fS5jbHMtMntmaWxsOiNmZmY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT7jgqLjg7zjg4jjg5zjg7zjg4kgMTwvdGl0bGU+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNTAuNTgsMjUuNzhBMjUuMjksMjUuMjksMCwxLDEsMjUuMjkuNDgsMjUuMjksMjUuMjksMCwwLDEsNTAuNTgsMjUuNzhaIi8+PHBhdGggY2xhc3M9ImNscy0yIiBkPSJNMjEuOTQsMzkuMzZWMzAuOTNIMjUuNmw2LjMyLDguNDNoNi40N0wzMC43NSwyOS4xOWE5LjM3LDkuMzcsMCwwLDAtNS40My0xN0gxNi43OFYzOS4zNmg1LjE2Wm0wLTIyaDMuMzdhNC4yMSw0LjIxLDAsMSwxLDAsOC40M0gyMS45NFoiLz48L3N2Zz4=") no-repeat right 10px bottom 10px / 48px 48px;
  }
  
  li {
    line-height: 1.4;
  }
  
  // 「この商品を含むブログ」リンク : 非表示にする
  a[href^="http://d.hatena.ne.jp/asin/"] {
    display: none;
  }
}

// 目次記法
// --------------------------------------------------
.table-of-contents {  // ul
  display: inline-block;
  border: 1px solid $nn-grey-border;
  border-radius: 4px;
  padding: 1rem 2.5rem;
  background: $nn-grey-bg;
  
  &::before {
    content: "目次";
    display: block;
    margin-bottom: 1em;
    font-weight: bold;
    text-align: center;
  }
  
  // 1階層目の余白を調整する
  & > li {
    margin-left: .5em !important;
  }
  
  li {
    margin-left: 1.5em;
  }
}

// エントリ フッタ
// --------------------------------------------------
.entry-footer {  // footer
  // 投稿者・投稿日
  .entry-footer-section {  // p
    color: $colour-grey-darken;
    font-size: .9em;
    line-height: 1;
    
    a {
      color: $colour-grey-darken;
    }
  }
  
  // はてなスター
  .hatena-star-container {
    margin-bottom: 1rem;
    line-height: 1;
  }
  
  // 「関連記事」が入るフッタ領域
  .customized-footer {
    margin-top: 2.5rem;
    
    .hatena-module-related-entries {
      margin-bottom: 1rem;
    }
  }
}

// コメント欄
.comment-box {
  margin-bottom: 1rem;
  
  .comment {  // ul
    border-bottom: 1px solid $colour-grey-hatena;
    
    // コメント1件
    .entry-comment {  // li
      @include reset-list();
      
      border-top: 1px solid $colour-grey-hatena;
      padding-top: 1rem;
      padding-left: calc(50px + 1rem);  // img.hatena-id-icon 分
      
      // 投稿者名
      .comment-user-name {  // p
        color: $colour-black;
        
        .hatena-id-icon {  // img
          position: absolute;  // blog.css で .entry-comment に position: relative が指定されている
          top: 1rem;  // li.entry-comment の padding-top　分
          left: 0;
          width: 50px;
          height: 50px;
          border-radius: 4px;
        }
        
        a {
          color: inherit;
        }
      }
      
      // p.comment-content
      
      // 投稿日・はてなスター
      .comment-metadata {  // p
        color: $colour-grey-darken;
        font-size: .9em;
      }
    }
  }
  
  // 「コメントを書く」リンク
  .leave-comment-title {  // a
    display: inline-block;
    border: 1px solid $colour-grey-hatena;
    border-radius: 4px;
    padding: .8em 1em;
    color: $colour-black;
    font-weight: bold;
    line-height: 1;
  }
}


/* ==================================================
 * ページャ
 * 
 * .entry と同じ #main-inner 直下
 * ================================================== */

.pager {
  &::after {
    @include clearfix();
  }
  
  & > span {
    display: block;
    width: 45%;
    
    &::before {
      display: block;
      color: $colour-grey-darken;
      font-size: .9em;
    }
    
    // 左側 : 新しい記事
    &.pager-prev {
      float: left;
      
      &::before {
        content: "新しい記事";
      }
    }
    
    // 右側 : 古い記事
    &.pager-next {
      float: right;
      text-align: right;
      
      &::before {
        content: "古い記事";
      }
    }
  }
}


/* ==================================================
 * アーカイブ・記事一覧ページ
 * 
 * .entry に似た構造で .archive-entry になる
 * ================================================== */

// アーカイブタイトル
.archive-header-category {  // header
  margin: 0 0 1rem;
  
  .archive-heading {  // h2
    font-size: 1.7em !important;
  }
}

// .archive-entries

.archive-entry {  // section
  margin-bottom: 4rem;
  
  // エントリ ヘッダ
  // .archive-entry-header
  
  // カテゴリ
  .categories {
    overflow: hidden;
    
    // .entry-header・.entry-categories と構成が違うためココで余白と下線を付ける
    &::after {
      @include clearfix();
      
      margin-bottom: 1rem;
      border-bottom: 1px solid $colour-grey-hatena;
      padding-bottom: .5em;  // .archive-category-link の margin-bottom と合わせて 1em にする
    }
    
    // カテゴリ一項目 : 幅が狭い時は折り返させないようにする
    .archive-category-link {  // a
      float: left;
      display: block;
      height: 2.4em;
      margin: 0 .5em .5em 0;
      padding: 0 .6em;
      border: 1px solid $colour-grey-hatena;
      border-radius: 4px;
      color: $colour-black;
      font-size: .8em;
      line-height: 2.4em;
      
      @media (max-width: $breakpoint-xs) {
        white-space: nowrap;
      }
    }
  }
  
  // アーカイブ メイン
  .archive-entry-body {
    .entry-description {  // p
      &::after {
        @include clearfix();
      }
    }
    
    .social-buttons {  // span
      display: inline-block;
      margin-bottom: 1rem;
    }
  }
}


/* ==================================================
 * 検索結果
 * 
 * #main-inner 直下・.search-form と同じにしておく
 * ================================================== */

 .search-result {
  // h2.archive-heading
  
  .search-result-form {  // form
    position: relative;
    border: 1px solid $colour-grey-hatena;
    padding-right: calc(20px + 1rem);  // .search-result-button 分の余白を右に開けておく
    border-radius: 4px;
    
    .search-result-input {  // input[type="text"]
      width: 100%;
      height: auto;  // blog.css の指定を解除しておく
      padding: .5rem 0 .5rem .5rem;  // .search-result-button と隣接する余白をなくしておく
      border: 0;
      background: transparent;
      outline: 0;
    }
    
    .search-result-button {  // input[type="submit"]
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
      width: calc(20px + 1rem);  // アイコン 20px + 左右余白
      height: 100%;
      text-indent: -9999px;
      background: url("http://blog.hatena.ne.jp/images/theme/search.png") no-repeat center center;
      outline: 0;
      opacity: .5;
      cursor: pointer;
      
      &:hover {
       opacity: .85;
      }
    }
  }
}


/* ==================================================
 * サイドバー
 * ================================================== */

// aside#box2 > #blog-inner

// プロフィール
// --------------------------------------------------
.hatena-module-profile {
  .profile-icon {
    float: left;
    margin: 0 .5rem .5rem 0;
    border-radius: 4px;
  }
  
  // デフォルトの ID 表示を消す
  .id {
    display: none;
  }
  
  .hatena-id-link {
    font-weight: bold;
  }
  
  // プロフィール自由追加欄を本文にする
  .profile-description > p:first-child::after {
    @include clearfix();
  }
}

// 検索
// --------------------------------------------------
.hatena-module-search-box {
  .search-form {  // form
    position: relative;
    border: 1px solid $colour-grey-hatena;
    padding-right: calc(20px + 1rem);  // .search-module-button 分の余白を右に開けておく
    border-radius: 4px;
    
    .search-module-input {  // input[type="text"]
      width: 100%;
      padding: .5rem 0 .5rem .5rem;  // .search-module-button と隣接する余白をなくしておく
      border: 0;
      background: transparent;
      outline: 0;
    }
    
    .search-module-button {  // input[type="submit"]
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
      width: calc(20px + 1rem);  // アイコン 20px + 左右余白
      height: 100%;
      text-indent: -9999px;
      background: url("http://blog.hatena.ne.jp/images/theme/search.png") no-repeat center center;
      outline: 0;
      opacity: .5;
      cursor: pointer;
      
      &:hover {
       opacity: .85;
      }
    }
  }
}

// アーカイブ
// --------------------------------------------------
.hatena-module-archive {
  // .hatena-module-body > ul.hatena-urllist
  
  a {
    color: inherit;
  }
  
  // 年
  .archive-module-year {  // li
    padding-left: .3rem !important;
  }
  
  // ul.archive-module-months
  
  // 月
  .archive-module-month {  // li
    margin-left: 2.5em;
  }
}

// カテゴリ
// --------------------------------------------------
.hatena-module-category {
  // .hatena-module-body
  
  // ul
  .hatena-urllist li {
    border-bottom: 0;
    padding: .25rem 0;
    font-size: .9em;
  }
  
  a {
    color: inherit;
  }
}

// サイドバー広告
// #n-gas


/* ==================================================
 * フッタ 自由編集欄
 * ================================================== */

#bottom-editarea {
  @include center();
  
  margin-top: 1rem;
  margin-bottom: 3rem;
}

// footer-link : 他サイト・他ブログへのリンク
#n-fl {  // ul
  font-size: 0;
  
  li {
    @include reset-list();
    
    display: inline-block;
    border-left: 1px solid $colour-grey-hatena;
    font-size: 1rem;
    
    &:first-child {
      border-left: 0;
    }
    
    a {
      display: inline-block;
      padding: 0 .4rem;
    }
  }
}

// google-adsense-footer : JavaScript で記事下に移動する AdSense バナー
// #n-gaf.n-ga

// share-template-wrapper : JavaScript で Clone して記事下にシェアリンクを配置するための雛形
#n-stw {
  display: none;
}
