/* Responsive: yes */

/*! Neo http://neo.s21.xrea.com/ */


/* ================================================================================
 * 要素全般
 * ================================================================================ */

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium"), local("YuGothic-Medium");
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold"), local("YuGothic-Bold");
  font-weight: bold;
}

:root {
  --space-xs: calc(var(--space-sm) / 3);
  --space-sm: calc(var(--space-md) / 2);
  --space-md: 1.6em;
  --space-lg: calc(var(--space-md) * 2);
  --space-xl: calc(var(--space-md) * 4);
  --space-indent: 2em;  /* ul・ol のスペースを確保する */
  
  --colour-base        : #3b3834;
  --colour-background  : #fffdfa;
  --colour-grey        : #9b9894;
  --colour-light-grey  : #e7e6e5;
  --colour-lighter-grey: #f9f8f7;
  --colour-link        : #b10;
  --colour-link-hover  : #e10;
  
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, YuGothic, "Yu Gothic", "Noto Sans JP", "Noto Sans CJK JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: MeiryoKe_Gothic, "Noto Sans Mono CJK JP", Osaka-mono, "MS Gothic", "Courier New", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  --font-size-base: 16px;
  --font-size-sm: .85em;
  
  --comment-icon-size: 50px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/* blog.css : margin・padding は 0 指定済 */
html {
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-wrap: break-word;
  color: var(--colour-base);
  font-size: var(--font-size-base);
  font-family: var(--font-family-sans-serif);
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: objects;
  background: var(--colour-background);
  cursor: default;
}

@media (max-width: 600px) {
  html {
    word-break: break-all;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 1.6vw;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 19.2px;
  }
}

/* 等幅フォント */
pre,
code,
textarea {
  font-family: var(--font-family-monospace) !important;  /* blog.css のフォント指定より優先させる */
}

/* 見出し */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-md);
  font-size: 1em;  /* h4 以降 */
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

hr {
  margin: var(--space-lg) 0;
  border: none;
  border-bottom: 1px solid var(--colour-light-grey);
}

/* 標準的な余白 */
p,
ul,
ol,
dl {
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
}

/* 標準的な余白より若干広めにする */
table,
pre,
blockquote,
.table-of-contents {  /* ul */
  margin-top: calc(var(--space-md) * 1.5);
  margin-bottom: calc(var(--space-md) * 1.5);
}

/* 左インデント */
ul,
ol,
dd {
  padding-left: var(--space-indent);
}

/* ネスト時は少し詰める */
ul ul,
ul ol,
ol ul,
ol ol,
dd ul,
dd ol {
  margin-top: 0;
  margin-bottom: var(--space-xs);
  padding-left: calc(var(--space-indent) - var(--space-xs));
}

pre {
  overflow-x: scroll;
  border-radius: 4px;
  padding: var(--space-sm);
  color: #f2f8f8;  /* Monokai 風 */
  word-wrap: normal;  /* iPhone で折り返しが発生するため指定する */
  background: #222728;
}

pre::-webkit-scrollbar,
pre::-webkit-scrollbar-thumb {
  height: 12px;
  border-radius: 4px;
  background: rgba(235, 245, 255, .2);
}

pre::-webkit-scrollbar:hover,
pre::-webkit-scrollbar-thumb:hover {
  background: rgba(235, 245, 255, .3);
}

blockquote {
  margin-right: 0;
  margin-left: 0;
  border-left: calc(var(--space-indent) / 2) solid #99f0c9;
  border-radius: 4px;
  padding: .1em calc(var(--space-indent) / 2);
  background: #e9fff9;
}

dt,
#footer-links-about a[href="/about"] {
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--colour-light-grey);
  padding: var(--space-xs) calc(var(--space-sm) / 1.5);
}

th {
  background: var(--colour-lighter-grey);
}

td {
  vertical-align: top;
}

a {
  color: var(--colour-link);
  text-decoration: none;
}

a:hover,
/* 色を打ち消している要素 */
.entry-title a:hover,
.hatena-module-archive .hatena-module-title a:hover,
#footer-links-about a[href*="neos21.hatenablog.jp"]:hover {  /* 自サイトの色 */
  color: var(--colour-link-hover);
}

code,
.entry-content code {  /* blog.css より優先させる */
  border-color: var(--colour-light-grey);
  color: #f08;
  background: var(--colour-lighter-grey);
}

em {
  color: #296;
  font-style: normal;
  font-weight: bold;
}

strong {
  color: #f03;
}


/* ================================================================================
 * 独自クラス
 * ================================================================================ */

/* Google AdSense 用 */
.adsense {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* AdSense の要素を上書きする : 通常広告 : リサイズ時に中央揃えになるようにする */
.adsbygoogle {  /* ins */
  margin-right: auto !important;
  margin-left: auto !important;
}

/* AdSense の要素を上書きする : 自動挿入広告 */
.google-auto-placed {
  overflow: hidden;
}


/* ================================================================================
 * 共通処理
 * ================================================================================ */

/* 非表示 */
#blog-description,  /* ブログヘッダの説明文 */
.archive-entry .entry-thumb-link,  /* アーカイブ画面の記事サムネイル */
.hatena-asin-detail a[href*="d.hatena.ne.jp/asin/"],  /* 「この商品を含むブログ」リンク */
.hatena-citation,  /* embed:cite で貼り付けたサイトのドメイン部分 */
.requote-button,  /* 引用ブロック末尾に追加される要素 */
.entry-tags-wrapper  /* 未使用だがマージンを持った要素 */,
.archive-entry-tags-wrapper  /* 未使用だがマージンを持った要素 */,
.entry-footer-section  /* 未使用だがマージンを持った要素 */,
#top-box,  /* パンくずリスト */
.hatena-module-html .hatena-module-title,  /* Sponsored Link */
.hatena-module-search-box .hatena-module-title {  /* 検索欄 */
  display: none !important;
}

/* 縦マージン */
#title,
#top-editarea,
.entry-header,
.entry-footer,
#bottom-editarea {
  margin: var(--space-lg) 0;
}

#box2 {
  margin: var(--space-xl) 0 var(--space-lg);
}

.entry,
.archive-entry,
#footer-links {
  margin: var(--space-xl) 0;
}

/* リンク色打ち消し */
.entry-title a,
.hatena-module-archive .hatena-module-title a,
#footer-links-about a[href*="neos21.hatenablog.jp"] {  /* 自サイトの色を変える */
  color: inherit;
}

/* 灰色小文字 */
.entry-date a,
.archive-date a,
.entry-categories a,
.categories a,
.comment-metadata,
.pager-prev::before,
.pager-next::before {
  color: var(--colour-grey);
  font-size: var(--font-size-sm);
}

/* 灰色小文字のリンク */
.entry-date a:hover,
.archive-date a:hover,
.entry-categories a:hover,
.categories a:hover {
  text-decoration: underline;
}


/* ================================================================================
 * コンテナ
 * ================================================================================ */

#container {
  margin: var(--space-lg) auto;
  max-width: 40em;
}

#container-inner {
  position: relative;  /* #header-icons 用 */
  margin: 0 var(--space-sm);
}


/* ================================================================================
 * ヘッダ
 * ================================================================================ */

#title {
  font-size: var(--font-size-base);
}


/* 独自ヘッダ
 * -------------------------------------------------------------------------------- */

#header-icons {
  position: absolute;
  top: 0;
  right: var(--space-sm);
}

#header-icons a:not(:last-child) {
  margin-right: calc(var(--space-sm) / 2);
}

#header-icons a {
  color: var(--colour-base);
  fill: var(--colour-base);  /* #header-icon-github の svg 用 */
}

#header-icons a:hover {
  color: var(--colour-grey);
  fill: var(--colour-grey);
}


/* ================================================================================
 * 記事ヘッダ
 * ================================================================================ */

.entry-header {
  position: relative;  /* .entry-header-menu 用 */
  border-bottom: 1px solid var(--colour-light-grey);
  padding-bottom: var(--space-xs);
}

.entry-title {  /* h1 */
  position: relative;
  left: -2px;  /* 見た目上の文字の左端揃え */
  margin: var(--space-xs) 0 var(--space-sm);
}

/* 「編集」ボタン */
.entry-header-menu {
  position: absolute;
  right: 0;
}

/* アーカイブ画面 */
.archive-entry-body {
  margin-top: var(--space-xs);  /* .entry-header の margin-bottom を再現する */
  border-top: 1px solid var(--colour-light-grey);
  font-size: var(--font-size-base);  /* 省略表示される本文は大きくしない */
}

.entry-categories a:not(:last-child),
.categories a:not(:last-child) {
  margin-right: var(--space-xs);
}


/* ================================================================================
 * 記事本文
 * ================================================================================ */

.entry-content,
.entry-description {
  line-height: 1.7;
}


/* シンタックスハイライト
 * -------------------------------------------------------------------------------- */

.synComment {
  color: #8ea1a5;
}

.synPreProc,
.synStatement {
  color: #f92672;
}

.synSpecial {
  color: #e6db74;
}

.synIdentifier {
  color: #a6e22e;
}

.synType {
  color: #66d9ef;
}

.synConstant {
  color: #ae81ff;
}


/* 目次
 * -------------------------------------------------------------------------------- */

.table-of-contents {  /* ul */
  border-left: calc(var(--space-indent) / 2) solid var(--colour-light-grey);
  border-radius: 4px;
  padding: var(--space-sm) calc(var(--space-indent) / 2) var(--space-sm) calc(var(--space-indent) + var(--space-xs));
  background: var(--colour-lighter-grey);
}

.table-of-contents::before {
  content: "目次";
  display: block;
  margin-bottom: var(--space-xs);
  margin-left: calc(var(--space-indent) * -1 - 5px + calc(var(--space-indent) / 2));  /* 謎に 5px 分くらいの余白ができているので詰めてから blockquote などと同じだけスペースを開ける */
  font-weight: bold;
}


/* 商品リンク
 * -------------------------------------------------------------------------------- */

.hatena-asin-detail {
  position: relative;
  border-radius: 4px;
}

.hatena-asin-detail::before {
  position: absolute;
  right: var(--space-xs);
  bottom: var(--space-xs);
  font-size: 55px;
  font-family: blogicon;
  line-height: 1;
  /* Amazon */
  content: "\f034";
  color: rgba(255, 153, 0, .5);
}

.hatena-asin-detail.hatena-rakuten-detail::before {
  content: "\f722";
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: rgba(200, 0, 0, .5);
}

.hatena-asin-detail li {
  line-height: 1.4;
}


/* その他記事本文中のスタイル調整
 * -------------------------------------------------------------------------------- */

/* blog.css : max-width: 100% 指定済 */
.entry-content .hatena-fotolife {  /* img・blog.css より優先させる */
  display: block;
  margin: 0 auto;
}


/* ================================================================================
 * 記事フッタ
 * ================================================================================ */

.entry-footer {
  border-top: 1px solid var(--colour-light-grey);
  padding-top: var(--space-sm);
  font-size: var(--font-size-base);
}


/* コメント
 * -------------------------------------------------------------------------------- */

.comment-box {
  text-align: center;  /* .leave-comment-title を中央に配置するため */
}

.comment {  /* ul */
  margin: var(--space-md) 0;
  padding: 0;
  text-align: left;  /* .comment-box の指定を打ち消す */
  list-style: none;
}

.entry-comment {
  padding-left: calc(var(--comment-icon-size) + var(--space-sm));
}

/* blog.css : .entry-comment に position: relative 指定済・上書きするため詳細度を合わせる */
.entry-comment .hatena-id-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--comment-icon-size);
  height: var(--comment-icon-size);
  border-radius: 3px;  /* blog.css : img.hatena-star-user と同じ */
}

/* 「コメントを書く」リンク */
.leave-comment-title {
  border: 1px solid var(--colour-light-grey);
  border-radius: 4px;
  padding: var(--space-sm);
  color: inherit;
  font-size: var(--font-size-sm);
}

.leave-comment-title:hover {
  color: inherit;
  background: var(--colour-lighter-grey);
}


/* ================================================================================
 * ページャ
 * ================================================================================ */

.pager {
  display: grid;
  grid-template-areas: "prev next";
  grid-template-columns: 1fr 1fr;
  gap: var(--space-md);
  font-size: var(--font-size-base);
}

.pager-prev {
  grid-area: prev;
}

.pager-prev::before {
  content: "新しい記事";
  display: block;
}

.pager-next {
  grid-area: next;
  text-align: right;
}

.pager-next::before {
  content: "古い記事";
  display: block;
}


/* ================================================================================
 * サイドバー
 * ================================================================================ */

#box2-inner {
  display: grid;
  grid-template-areas: "box2-html box2-html"
                       "search-box ."
                       "archive category";
  grid-template-columns: 1fr 1fr;
  gap: var(--space-lg) var(--space-md);
}

.hatena-module {
  font-size: var(--font-size-base);
}

.hatena-module-html {
  grid-area: box2-html;
}

.hatena-module-search-box {
  grid-area: search-box;
}

.hatena-module-archive {
  grid-area: archive;
}

.hatena-module-category {
  grid-area: category;
}


/* 検索窓
 * -------------------------------------------------------------------------------- */

/* blog.css : .search-result-form を参考に・.search-result-form は上書きする */
.hatena-module-search-box .search-form,
.search-result .search-result-form {
  position: relative;
  border: 1px solid var(--colour-light-grey);
  border-radius: 4px;
  background: none;
}

.hatena-module-search-box .search-module-input,
.search-result .search-result-input {
  width: calc(100% - 20px - 5px);  /* .search-module-button の width と right */
  height: 30px;
  outline: none;
  border: none;
  padding: 5px;
  color: inherit;
  background: none;
}

.hatena-module-search-box .search-module-button,
.search-result .search-result-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  outline: none;
  border: none;
  background: transparent url("/images/theme/search.png?version=5ce19ab982799e9f1225e7acae034e9d43b6e6b6") no-repeat 100%;
  text-indent: -9999px;
  opacity: .5;
  cursor: pointer;
}

.hatena-module-search-box .search-module-button:hover,
.search-result .search-result-button:hover {
  opacity: .85;
}


/* アーカイブ・カテゴリ
 * -------------------------------------------------------------------------------- */

.hatena-module-archive .hatena-module-title,
.hatena-module-category .hatena-module-title {
  margin: 0 0 var(--space-sm);
}

.hatena-module-archive .hatena-module-body,
.hatena-module-category .hatena-module-body {
  overflow-y: auto;
  height: 60vh;
  min-height: 15em;
}

.hatena-module-archive .hatena-module-body::-webkit-scrollbar,
.hatena-module-category .hatena-module-body::-webkit-scrollbar,
.hatena-module-archive .hatena-module-body::-webkit-scrollbar-thumb,
.hatena-module-category .hatena-module-body::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 4px;
  background: rgba(0, 0, 0, .07);
}

.hatena-module-archive .hatena-module-body::-webkit-scrollbar:hover,
.hatena-module-category .hatena-module-body::-webkit-scrollbar:hover,
.hatena-module-archive .hatena-module-body::-webkit-scrollbar-thumb:hover,
.hatena-module-category .hatena-module-body::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, .15);
}

.hatena-module-archive .hatena-urllist,
.hatena-module-category .hatena-urllist {
  margin: 0;
}

.hatena-module-archive .hatena-module-body .archive-module-button {  /* blog.css より優先させる */
  display: inline-block;
  width: .9em;
}

.hatena-module-category .hatena-urllist {
  padding-left: 0;
  line-height: 1.5;  /* blog.css : .hatena-urllist .archive-module-year と同じ */
  list-style: none;
}


/* ================================================================================
 * フッタ
 * ================================================================================ */


/* 独自フッタ
 * -------------------------------------------------------------------------------- */

#footer-links {
  font-size: var(--font-size-base);
}

#footer-links ul {
  padding-left: 0;
  list-style: none;
}

#footer-links li {
  display: inline;
}

#footer-links a {
  text-decoration: underline;
}

#footer-links li:not(:last-child) {
  margin-right: var(--space-sm);
}
