/* ================================================================================
 * Murga
 * ================================================================================ */

@import url("./core.css");

:root {
  --nn-colour-base      : #3b3834;
  --nn-colour-background: #fffdfa;
  --nn-colour-link-base : #b10;
  --nn-colour-link-hover: #e10;
}
