/*! Murga : Neo (@Neos21) https://neos21.hatenablog.jp/ */
/*! Responsive: yes */

// Neo's Normalize
@import '../../node_modules/@neos21/neos-normalize/neos-normalize.scss';


/* ==================================================
 * 変数定義
 * ================================================== */

// メディアクエリ用
$breakpoint-xs:  575.98px;  // @media (max-width: $breakpoint-xs)
$breakpoint-sm:  576px   ;  // @media (min-width: $breakpoint-sm)
$breakpoint-md:  768px   ;  // @media (min-width: $breakpoint-md)
$breakpoint-lg:  992px   ;  // @media (min-width: $breakpoint-lg)
$breakpoint-xl: 1200px   ;  // @media (min-width: $breakpoint-xl)

// テーマカラー
$colour-white                 : #ffffff;
$colour-black                 : #000000;
$colour-grey-hatena           : #dddddd;  // blog.css で使用されるカラー
$colour-grey-darken           : #72767a;  // 主に文字色
$colour-grey-bg               : #3e3e3e;  // ページ背景色
$colour-grey-box              : #959799;  // ボックスのボカシなど
$colour-red                   : #ff0000;  // リンクホバー時の色
$colour-red-darken            : #cc1100;  // リンク色など
$colour-red-lighten           : #fcf4f4;  // 見出しの背景色など


/* ==================================================
 * ミックスイン定義
 * ================================================== */

// Clear Fix
@mixin clearfix() {
  content: "";
  display: block;
  clear: both;
}

// 中央揃え・はみ出し無視
@mixin center() {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

// 英文のみの要素用のフォント指定
@mixin english-font-family() {
  font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;
}

// li 要素をリセットする
@mixin reset-list() {
  margin-left: 0;
  list-style: none;
}

// レスポンシブルにボックス幅を変更する
@mixin responsive-width() {
  width: auto;
  margin: 0 auto;
  padding: 0 .5rem;
  
  @media (min-width: $breakpoint-md) {
    width: 85vw;
    min-width: calc(#{$breakpoint-md} - 20px);
  }
  
  @media (min-width: $breakpoint-xl) {
    min-width: auto;
  }
}

// ボックスを囲む基本スタイル
@mixin white-box() {
  border-radius: 4px;
  padding: 1.1rem;
  background: $colour-white;
  box-shadow: 0 0 .75rem $colour-grey-box;
}


/* ==================================================
 * 要素全般
 * ================================================== */

html {
  overflow-x: hidden;
}

body {
  padding: 0 !important;  // Google AdSense 自動広告の「アンカー広告」がページを押し下げるのを回避する
  color: $colour-black;
  font-size: 17px;
  background: $colour-grey-bg;
  
  @media (max-width: $breakpoint-xs) {
    word-break: break-all;
  }
}

a {
  color: $colour-red-darken;
  text-decoration: none;
  
  &:hover {
    color: $colour-red !important;
    text-decoration: underline;
  }
}


/* ==================================================
 * 自前のクラス
 * ================================================== */

// share : 記事下部のシェアリンク
.n-s {  // ul
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  li {
    @include reset-list();
    
    text-align: center;
    overflow: hidden;
    
    &:first-child { border-radius: 4px 0   0   4px; }
    &:last-child  { border-radius: 0   4px 4px 0  ; }
  }
  
  .n-s-ha /* = li */ { background:#006fbb; }
  .n-s-tw /* = li */ { background:#55acee; }
  .n-s-fb /* = li */ { background:#3a5795; }
  .n-s-po /* = li */ { background:#ed4055; }
  
  /* li */ a {
    display: block;
    padding: .6rem 0;
    color: $colour-white !important;
    text-decoration: none;
    line-height: 1;
    transition: background-color .2s;
    
    &:hover {
      background:rgba(255, 255, 255, .2);
    }
  }
  
  /* li a */ i {
    display: block;
    margin-bottom: .4rem;
    font-size: 1.5rem;
  }
  
  /* li a */ span {
    display: block;
    font-size: .9rem;
    white-space: nowrap;
  }
}

// google-adsense : サイドバー・フッタ (記事下部) の AdSense 用
// バナー貼付用 : 中央寄せ・はみ出し禁止
.n-ga,
.banner {
  @include center();
}


/* ==================================================
 * 全体
 * ================================================== */

// #container


/* ==================================================
 * 2カラムレイアウト調整
 * ================================================== */

#content {
  @include responsive-width();
}

/* #content */ #content-inner {
  @media (min-width: $breakpoint-md) {
    display: grid;
    grid-template-columns: minmax(350px, auto) 350px;  // #wrapper (#main) … 350px ～ ・ #box2 … 350px
    grid-column-gap: 1rem;
  }
}

/* #content #content-inner */ #wrapper {
  // #content-inner の grid-template-columns と同値を入れておき突っ張り棒にする
  @media (min-width: $breakpoint-md) {
    min-width: 350px;
  }
}

/* #content #content-inner */ #box2 {
  margin-top: 4rem;  // 1カラムの時はメインコンテンツとの間隔を開ける
  
  // #content-inner の grid-template-columns と同値を入れておき突っ張り棒にする
  @media (min-width: $breakpoint-md) {
    margin-top: 0;
    min-width: 350px;
  }
}


/* ==================================================
 * はてなブログのクラス
 * ================================================== */

// 日付 : 灰色
.date,
.date a,
.urllist-date-link a {
  @include english-font-family();
  
  color: $colour-grey-darken;
}

// サイドバーなどで使用するモジュール
.hatena-module {
  @include white-box();
  
  margin-bottom: 1.5rem;
  
  // リストをリセットしておく
  li {
    @include reset-list();
  }
}

// タイトル
/* .hatena-module */ .hatena-module-title {
  margin-bottom: .75rem;
  color: $colour-black;
  font-size: 1.25rem;
  line-height: 1;
  
  a {
    color: inherit;
  }
}

// /* .hatena-module */ .hatena-module-body

// URL リスト
/* .hatena-module */ .hatena-urllist /* = ul */ li {
  border-bottom: 1px solid $colour-grey-hatena;
  padding: .8rem 0;
  line-height: 1.4;
}

// 記事タイトル
/* .hatena-module .hatena-urllist */ .urllist-title-link {  // a
  font-size: 1rem;
}

// カテゴリ (Latests・Hot Entries など)
/* .hatena-module .hatena-urllist */ .urllist-categories::after {
  @include clearfix();
}

/* .hatena-module .hatena-urllist */ .urllist-category-link {  // a
  font-size: .8em;
}

// サムネイル
/* .hatena-module .hatena-urllist */ .urllist-image {  // img
  margin-top: .4em;
  margin-bottom: 0;
}


/* ==================================================
 * Google AdSense
 * ================================================== */

// 通常広告 : リサイズ時に中央揃えになるよう上書き
.adsbygoogle {  // ins
  margin-right: auto !important;
  margin-left: auto !important;
}

// 自動挿入広告
.google-auto-placed {
  overflow: hidden;
}


/* ==================================================
 * 非表示にする要素
 * ================================================== */

.hatena-asin-detail a[href*="d.hatena.ne.jp/asin/"],  // 「この商品を含むブログ」リンク
.hatena-citation                                   ,  // 「embed:cite」で貼り付けたサイトのドメイン
/* .hatena-module-profile */ .id                   ,  // プロフィール欄・デフォルトの ID
#n-stw                                             {  // フッタ・share-template-wrapper : JavaScript で Clone して記事下にシェアリンクを配置するための雛形
  display: none;
}


/* ==================================================
 * ヘッダ
 * ================================================== */

$header-height-min: 100px;
$header-height-max: 200px;

#blog-title {  // header
  position: relative;
  overflow: hidden;  // ボカシによる横スクロール発生をなくす
  word-break: keep-all;
  word-wrap: normal;
  white-space: nowrap;
}

/* #blog-title */ #blog-title-inner {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;  // 背景画像の幅
  height: $header-height-min !important;  // $breakpoint-md 未満時の高さ・背景位置にする
  background: url("https://cdn-ak.f.st-hatena.com/images/fotolife/n/neos21/20160228/20160228012225.jpg") no-repeat center -170px !important;
  transition: height .2s, background-position .2s;
  
  // $breakpoint-md 以上の高さ設定
  @media (min-width: $breakpoint-md) {
    height: $header-height-max !important;
  }
  
  // 左側のボカシ
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1rem;
    height: $header-height-max;
    background: linear-gradient(to right, $colour-grey-bg .25rem, transparent);
  }
  
  // 右側のボカシ
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1rem;
    height: $header-height-max;
    background: linear-gradient(to left, $colour-grey-bg .25rem, transparent);
  }
}

/* #blog-title */ #blog-title-content {
  height: 100%;
  text-align: center;
  line-height: 1;
  background: linear-gradient(to top, $colour-grey-bg .25rem, transparent 1rem);  // 下側のボカシ
}

/* #blog-title */ #title {  // h1
  @include english-font-family();
  
  margin-bottom: .75rem;
  padding-top: 15px;
  letter-spacing: .15em;
  transition: padding-top .2s;
  
  @media (min-width: $breakpoint-md) {
    padding-top: 60px;
  }
  
  a {
    color: $colour-white;
    text-decoration: none;
    text-shadow: $colour-black  2px  2px 1px,
                 $colour-black -2px  2px 1px,
                 $colour-black  2px -2px 1px,
                 $colour-black -2px -2px 1px !important;
    
    &:hover {
      color: #ffdddd !important;
    }
  }
}

/* #blog-title */ #blog-description {  // h2
  color: $colour-white;
  font-size: 1em;
  text-shadow: $colour-black  2px  2px 1px,
               $colour-black -2px  2px 1px,
               $colour-black  2px -2px 1px,
               $colour-black -2px -2px 1px !important;
  letter-spacing: .2em;
  transition: padding-top .2s;
  
  @media (min-width: $breakpoint-md) {
    padding-top: 40px;
  }
}


/* ==================================================
 * ヘッダ・タイトル下 自由編集欄
 * ================================================== */

#top-editarea {
  @include center();
  
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// 独自ハンバーガーメニュー
#n-hm {
  z-index: 10;
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  font-size: 1.8em;
  line-height: 1;
  
  a {
    display: inline-block;
    border: 1px solid $colour-white;
    border-radius: 4px;
    padding: 2px 10px 4px 8px;  // i.blogicon-reorder のサイズに合わせる
    color: $colour-white;
    background: rgba(255, 255, 255, .15);
    
    &:hover {
      color: $colour-red !important;
    }
  }
}


/* ==================================================
 * パンくずリスト
 * ================================================== */

#top-box {
  @include responsive-width();
  
  .breadcrumb {
    @include white-box();
    
    margin-bottom: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}


/* ==================================================
 * エントリ
 * 
 * #content > #content-inner > #wrapper > #main > #main-inner > .entry
 * ================================================== */

.entry {  // article
  @include white-box();
  
  margin-bottom: 4rem;
  
  // .entry-inner
}

// エントリ ヘッダ
// --------------------------------------------------

.entry-header {  // header
  position: relative;  // 「編集」ボタン用
  margin-bottom: 2rem;
  border-bottom: 1px solid $colour-grey-hatena;
}

// 記事タイトル : .archive-entry-header と共用
.entry-title { // h1
  margin-bottom: .25rem;
  font-size: 1.5em;
  line-height: 1.3;
}

// /* .entry-title */ .entry-title-link

// カテゴリ
.entry-categories {
  padding-bottom: .5em;
}

// カテゴリ一項目
/* .entry-categories */ .entry-category-link {  // a
  color: $colour-grey-darken;
  font-size: .8em;
}

// 「編集」ボタン
.entry-header-menu {
  position: absolute;
  top: -2em;
  left: 0;
  
  @media (min-width: $breakpoint-lg) {
    top: auto;
    left: -4em;
  }
  
  a {
    border: 1px solid $colour-grey-hatena;
    padding: .5em;
    background: $colour-white;
  }
}

// エントリ メイン
// --------------------------------------------------

.entry-content {
  margin-bottom: 1.25em;
  border-bottom: 1px solid $colour-grey-hatena;
  padding-bottom: 1em;
  
  // ブロック要素
  // --------------------------------------------------
  
  // 下マージンを em にする
  h1, h2, h3, h4, h5, h6, p, hr, dl, dt, dd, ol, ul, pre, table, blockquote,
  .hatena-asin-detail,
  .banner {
    margin-bottom: 1.25em;
  }
  
  h1 {
    margin: 2.5em -1.1rem 1.25em -1.1rem;
    border-top: 2px solid $colour-red-darken;
    border-bottom: 1px solid $colour-red-darken;
    padding: .25em 1.1rem;
    font-size: 1.5em;
    line-height: 1.4;
    background: $colour-red-lighten;
  }
  
  h2 {
    margin: 2em -1.1rem 1.25em -1.1rem;
    border-left: 1.1rem solid $colour-red-darken;
    padding: 0 .5rem;
    color: $colour-red-darken;
    font-size: 1.4em;
    background: $colour-red-lighten;
  }
  
  h3 {
    margin: 1.75em -1.1rem 1.25em -1.1rem;
    border-bottom: 1px solid $colour-red-darken;
    padding: 0 1.1rem;
    font-size: 1.3em;
    background: $colour-red-lighten;
  }
  
  h4 {
    margin: 1.25em -1.1rem;
    border-bottom: 1px solid $colour-grey-box;
    padding: 0 1.1rem;
    font-size: 1.2em;
  }
  
  h5, h6 {
    margin: 1.25em -1.1rem;
    border-bottom: 1px solid $colour-grey-hatena;
    padding: 0 1.1rem;
  }
  
  pre {
    font-family: $nn-monospace !important;
    overflow-x: scroll;
    word-break: keep-all;
    word-wrap: normal;  // iPhone で折り返しが発生するため指定する
    white-space: pre;
  }
  
  blockquote {
    margin-left: 1rem;
    padding: 1.25em 1rem 0;
    
    // 引用ツールが挿入されるため余白のズレをなくす
    & > :last-child {
      margin-bottom: 1.25em;
    }
  }
  
  dd, li {
    margin-left: 2rem;
  }
  
  hr {
    margin-top: 1.5em;
  }
  
  // インライン要素
  // --------------------------------------------------
  
  // コード : Neo's Normalize のスタイルで上書き
  :not(pre) > code {
    margin: 0 .25em;
    border: 1px solid $nn-grey-border;
    border-radius: 4px;
    padding: .1em .4em;
    font-family: $nn-monospace !important;
    background: $nn-grey-bg;
  }
  
  // 強調
  em,
  em * {
    color: #296;
  }
  
  strong,
  strong * {
    color: #f03;
  }
  
  // リンクと強調を両指定している要素には下線を引く
  a em, a strong,
  em a, strong a {
    text-decoration: underline;
  }
  
  // 「em *」「strong *」が勝ってホバー時に色が変化しないので継承させる
  a:hover em,
  a:hover strong {
    color: inherit;
  }
}

// 個別
// --------------------------------------------------

// Amazon・楽天商品リンク
// --------------------------------------------------

.hatena-asin-detail {
  position: relative;
  border-radius: 4px;
  
  // 右下に余白を開けコンテンツを配置する準備をしておく
  &::before {
    position: absolute;
    right: .6rem;
    bottom: .6rem;
    font-size: 55px;
    font-family: blogicon;
    line-height: 1;
  }
  
  // Amazon
  &:not(.hatena-rakuten-detail)::before {
    content: "\f034";
    color: rgba(255, 153, 0, .5);
  }
  
  // 楽天
  &.hatena-rakuten-detail::before {
    content: "\f722";
    border-radius: 50%;
    width: 48px;
    height: 47px;
    line-height: 42px;
    color: rgba(200, 0, 0, .5);
  }
  
  li {
    line-height: 1.4;
  }
}

// 目次記法
// --------------------------------------------------

.table-of-contents {  // ul
  display: inline-block;
  border: 1px solid #0ad;
  border-radius: 4px;
  padding: 1rem 2.5rem;
  background: #eff;
  
  &::before {
    content: "目次";
    display: block;
    margin-bottom: 1em;
    font-weight: bold;
    text-align: center;
  }
  
  // 1階層目の余白を調整する
  & > li {
    margin-left: .5em !important;
  }
  
  li {
    margin-left: 1.5em;
  }
}

// エントリ フッタ : footer.entry-footer
// --------------------------------------------------

// 投稿者・投稿日
/* .entry-footer */ .entry-footer-section {  // p
  color: $colour-grey-darken;
  font-size: .9em;
  line-height: 1;
  
  a {
    color: $colour-grey-darken;
  }
}

// はてなスター
/* .entry-footer */ .hatena-star-container {
  margin-bottom: 1rem;
  line-height: 1;
}

// 「関連記事」が入るフッタ領域
/* .entry-footer */ .customized-footer {
  margin-top: 2.5rem;
  
  // .hatena-module に付いた white-box スタイルを無効化する
  .hatena-module-related-entries {
    margin-bottom: 1rem !important;
    padding: 0;
    box-shadow: unset;
  }
}

// コメント欄
.comment-box {
  margin-bottom: 1rem;
}

/* .comment-box */ .comment {  // ul
  border-bottom: 1px solid $colour-grey-hatena;
}

// コメント1件
/* .comment-box .comment */ .entry-comment {  // li
  @include reset-list();
  
  border-top: 1px solid $colour-grey-hatena;
  padding-top: 1rem;
  padding-left: calc(50px + 1rem);  // img.hatena-id-icon 分
}

// 投稿者名
/* .comment-box .comment .entry-comment */ .comment-user-name {  // p
  color: $colour-black;
  
  a {
    color: inherit;
  }
}

/* .comment-box .comment */ .entry-comment /* .comment-user-name */ .hatena-id-icon {  // img
  position: absolute;  // blog.css で .entry-comment に position: relative が指定されている
  top: 1rem;  // li.entry-comment の padding-top　分
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

// /* .comment-box .comment .entry-comment */ p.comment-content

// 投稿日・はてなスター
/* .comment-box .comment .entry-comment */ .comment-metadata {  // p
  color: $colour-grey-darken;
  font-size: .9em;
}

// 「コメントを書く」リンク
/* .comment-box */ .leave-comment-title {  // a
  display: inline-block;
  border: 1px solid $colour-grey-hatena;
  border-radius: 4px;
  padding: .8em 1em;
  color: $colour-black;
  font-weight: bold;
  line-height: 1;
}


/* ==================================================
 * ページャ
 * 
 * .entry と同じ #main-inner 直下
 * ================================================== */

.pager {
  &::after {
    @include clearfix();
  }
  
  & > span {
    display: block;
    width: 45%;
    
    &::before {
      display: block;
      color: $colour-grey-darken;
      font-size: .9em;
    }
  }
}

// 左側 : 新しい記事
/* .pager */ .pager-prev {
  @include white-box();
  
  float: left;
  
  &::before {
    content: "新しい記事";
  }
}

// 右側 : 古い記事
/* .pager */ .pager-next {
  @include white-box();
  
  float: right;
  text-align: right;
  
  &::before {
    content: "古い記事";
  }
}


/* ==================================================
 * アーカイブ・記事一覧ページ
 * 
 * .entry に似た構造で .archive-entry になる
 * ================================================== */

// アーカイブタイトル
.archive-header-category,  // header
.page-archive #main-inner > .archive-heading {  // h2
  @include white-box();
  
  margin: 0 0 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/* .archive-header-category */ .archive-heading {  // h2
  margin: 0;
  font-size: 1.7em !important;
}

// .archive-entries

.archive-entry {  // section
  @include white-box();
  
  margin-bottom: 4rem;
  
  // エントリ ヘッダ
  // .archive-entry-header
  
  // カテゴリ : .entry-header・.entry-categories と構成が違うためココで余白と下線を付ける
  .categories::after {
    @include clearfix();
    
    margin-bottom: 1rem;
    border-bottom: 1px solid $colour-grey-hatena;
    padding-bottom: .5em;
  }
}

// カテゴリ一項目
/* .archive-entry .categories */ .archive-category-link {  // a
  color: $colour-grey-darken;
  font-size: .8em;
}

// アーカイブ メイン
/* .archive-entry */ .archive-entry-body {
  .entry-description {  // p
    &::after {
      @include clearfix();
    }
  }
  
  .social-buttons {  // span
    display: inline-block;
    margin-bottom: 1rem;
  }
}


/* ==================================================
 * サイドバー
 * ================================================== */

// aside#box2 > #blog-inner

// プロフィール
// --------------------------------------------------

// .hatena-module-profile

.hatena-module-profile .profile-icon {  // .page-about にも .profile-icon があるので親クラスで制御する
  float: left;
  margin: 0 .5rem .5rem 0;
  border-radius: 4px;
}

/* .hatena-module-profile */ .hatena-id-link {
  font-weight: bold;
}

// プロフィール自由追加欄を本文にする
/* .hatena-module-profile */ .profile-description > p:first-child::after {
  @include clearfix();
}

// profile : プロフィール欄のリスト
/* .hatena-module-profile .profile-description */ .n-pl {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: .9rem;
  
  li {
    margin-left: 1.5rem;
    list-style: disc;
  }
}

// follow : フォローリンク
/* .hatena-module-profile .profile-description */ .n-f {
  // 各リンク用のミックスイン
  @mixin n-f($n-f-colour) {
    a {
      border: 1px solid $n-f-colour;
      color: $n-f-colour;
      
      &:hover {
        background: $n-f-colour;
      }
    }
  }
  
  // 幅が狭い時は4列にする
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: .7rem;
  
  // 2列・2行
  @media (min-width: $breakpoint-md) {
    grid-template-columns: 1fr 1fr;
    grid-gap: .7rem 4%;
  }
  
  li {
    line-height: 1;
  }
  
  // li
  .n-f-ha { @include n-f(#3d3f44); }
  .n-f-fe { @include n-f(#67c150); }
  .n-f-fb { @include n-f(#3a5795); }
  .n-f-ig { @include n-f(#3f729b); }
  
  // li : 2列・2行
  @media (min-width: $breakpoint-md) {
    .n-f-ha, .n-f-fb { grid-column: 1 / 2; }
    .n-f-fe, .n-f-ig { grid-column: 2 / 3; }
  }
  
  a {
    display: block;
    border-radius: 4px;
    padding: .4rem 0;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    transition: color .2s, background-color .2s;
    
    &:hover {
      color: $colour-white !important;
    }
  }
  
  i {
    display: block;
    padding-bottom: .15rem;  // アイコンの垂直中央を揃える
    font-size: 1.75rem;
  }
  
  span {
    display: none;  // 幅が狭い時は非表示にする
    font-size: .8rem;
    white-space: nowrap;
    
    @media (min-width: $breakpoint-md) {
      display: block;
    }
  }
}

// 検索 : 検索結果ページ兼用 (検索結果は #main-inner 直下・.search-form と同じにする)
// --------------------------------------------------

.search-result {
  @include white-box();
  
  margin-bottom: 4rem !important;  // .entry・.archive-entry と同じ
}

// .search-result h2.archive-heading

// .hatena-module-search-box

/* .search-result */ .search-result-form,  // form
/* .hatena-module-search-box */ .search-form {  // form
  position: relative;
  border: 1px solid $colour-grey-hatena;
  border-radius: 4px;
  padding-right: calc(20px + 1rem);  // .search-result-button・.search-module-button 分の余白を右に開けておく
}

/* .search-result */ .search-result-form .search-result-input,  // input[type="text"]
/* .hatena-module-search-box .search-form */ .search-module-input {  // input[type="text"]
  width: 100%;
  height: auto;  // .search-result-input の blog.css の指定を解除しておく・.search-module-input の方は影響なし
  padding: .5rem 0 .5rem .5rem;  // .search-result-button・.search-module-button と隣接する余白をなくしておく
  border: 0;
  background: transparent;
  outline: 0;
}

/* .search-result */ .search-result-form .search-result-button,  // input[type="submit"]
/* .hatena-module-search-box .search-form */ .search-module-button {  // input[type="submit"]
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  width: calc(20px + 1rem);  // アイコン 20px + 左右余白
  height: 100%;
  text-indent: -9999px;
  background: url("https://blog.hatena.ne.jp/images/theme/search.png") no-repeat center center;
  outline: 0;
  opacity: .5;
  cursor: pointer;
  
  &:hover {
    opacity: .85;
  }
}

// アーカイブ
// --------------------------------------------------

// .hatena-module-archive .hatena-module-body > ul.hatena-urllist

// 年
/* .hatena-module-archive */ .archive-module-year {  // li
  padding-left: .3rem !important;
}

// /* .hatena-module-archive */ ul.archive-module-months

// 月
/* .hatena-module-archive */ .archive-module-month {  // li
  margin-left: 2.5em;
}

// カテゴリ
// --------------------------------------------------

.hatena-module-category {
  // リストを縮める
  /* .hatena-module-body */ .hatena-urllist /* = ul */ li {
    border-bottom: 0;
    padding: .25rem 0;
    font-size: .9em;
  }
}

// サイドバー広告
// #n-gas


/* ==================================================
 * フッタ 自由編集欄
 * ================================================== */

#bottom-editarea {
  @include center();
  
  margin-top: 1rem;
  margin-bottom: 4rem;
}

// footer-link : 他サイト・他ブログへのリンク
#n-fl {  // ul
  font-size: 0;
  
  li {
    @include reset-list();
    
    display: inline-block;
    border-left: 1px solid $colour-grey-hatena;
    font-size: 1rem;
    
    &:first-child {
      border-left: 0;
    }
  }
  
  /* li */ a {
    display: inline-block;
    padding: 0 .4rem;
  }
}

// google-adsense-footer : JavaScript で記事下に移動する AdSense バナー
// #n-gaf.n-ga

// check : CSS 読込が正常に行えているか確認するための検証用要素
#n-check {
  display: none;
  font-size: 0;
}
