/* <system section="theme" selected="10328749687197818725"> */
@import url("http://hatenablog.com/theme/10328749687197818725.css");
/* </system> */

/*!
 * Neo's World - Bit-Archer - 2017-10-28
 * http://neo.s21.xrea.com/
 * http://bit-archer.hatenablog.com/
 */


/* --------------------------------------------------
 * Normalize
 * -------------------------------------------------- */


/* ==================================================
 * Base
 * ================================================== */

/* Windows 用 Medium 指定の游ゴシック */
@font-face {
  font-family:"Yu Gothic M";
  src:local("Yu Gothic Medium");
}

/* font-weight: bold の時は通常どおり Bold 書体を使わせる */
@font-face {
  font-family:"Yu Gothic M";
  src:local("Yu Gothic Bold");
  font-weight:bold;
}

/* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html {
  font-family:sans-serif;
      -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  -webkit-overflow-scrolling:touch;
}

body {
  font-family:-apple-system, BlinkMacSystemFont, "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  word-wrap:break-word;  /* 長い英単語も折り返す */
  cursor:default;
}

/* ==================================================
 * Text-level Semantics
 * ================================================== */

em, em * {
  color:#090;
  font-weight:bold;
  font-style:normal;
}

strong, strong * {
  color:#f00;
  font-weight:bold;
}

pre, code, kbd, samp, var {
  font-family:MeiryoKe_Gothic, "Ricty Diminished", "Courier New", Courier, Consolas, Monaco, Menlo, "Osaka－等幅", "Osaka-等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace;
}


/* --------------------------------------------------
 * Page Design
 * -------------------------------------------------- */


/* フォローリンク・シェアリンク */
.neos21-follow,
.neos21-share {
  width:100%;
  padding:0;
  list-style:none;
}

.neos21-follow:before,   /* フォロー */
.neos21-follow:after,
.social-buttons:before,  /* はてなスター */
.neos21-share:before,    /* シェア */
.neos21-share:after {
  display:block;
  visibility:hidden;
  clear:both;
  height:0;
  font-size:0;
  content:".";
}

.neos21-follow li {
  float:left;
  width:20%;
}

.neos21-follow a {
  display:block;
  border-radius:3px;
  text-align:center;
  transition:0.3s;
}

.neos21-follow a:hover {
  color:#fff !important;
}

.neos21-follow i {
  display:block;
  font-size:140%;
}

.neos21-follow span {
  display:block;
  font-size:85%;
  white-space:nowrap;
}

.neos21-follow-hatena    a { color:#3d3f44; }
.neos21-follow-feedly    a { color:#6cc655; }
.neos21-follow-twitter   a { color:#55acee; }
.neos21-follow-facebook  a { color:#3a5795; }
.neos21-follow-instagram a { color:#3f729b; }
.neos21-follow-hatena    a:hover { background:#3d3f44; }
.neos21-follow-feedly    a:hover { background:#6cc655; }
.neos21-follow-twitter   a:hover { background:#55acee; }
.neos21-follow-facebook  a:hover { background:#3a5795; }
.neos21-follow-instagram a:hover { background:#3f729b; }

.neos21-share {
  margin-top:.5em;
}

.neos21-share li {
  float:left;
  width:25%;
}

.neos21-share li:first-child {
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.neos21-share li:last-child {
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
}

.neos21-share a {
  display:block;
  padding:3px 0;
  color:#fff !important;
  text-align:center;
  transition:0.3s;
}

.neos21-share a:hover {
  background:rgba(255, 255, 255, 0.2);
}

.neos21-share i {
  display:block;
  margin:0 0 -5px;
  font-size:140%;
}

.neos21-share span {
  font-size:70%;
}

.neos21-share-hatebu   { background:#006fbb; }
.neos21-share-twitter  { background:#55acee; }
.neos21-share-facebook { background:#3a5795; }
.neos21-share-pocket   { background:#ed4055; }

/* テンプレート格納用 */
#neos21-template {
  display:none;
}

/* ==================================================
 * Container
 * ================================================== */

#content {
  margin-top:1em;
  margin-bottom:1em;
  padding-top:0;
  padding-bottom:0;
}

/* ==================================================
 * Entry Content
 * ================================================== */

.entry-content p {
  margin:1.5em 0;
}

/* List */
.entry-content > ul {
  list-style-type:disc;
}

.entry-content li ul {
  list-style-type:circle !important;
}

.entry-content li li > ul {
  list-style-type:square !important;
}

/* Banners */
.banner {
  overflow:hidden;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
}

.banner-header,
.banner-footer {
  margin:1em auto;
}

.banner-side > div {
  margin:5px auto;
}

/* ==================================================
 * Pager
 * ================================================== */

.pager-prev:before { content:"新しい記事"; }
.pager-next:before { content:"古い記事"; }

/* ==================================================
 * Profile Module
 * ================================================== */

/* .hatena-module-profile */

.hatena-id-link {
  font-weight:bold;
}

/* ==================================================
 * Footer
 * ================================================== */

/* フッタリンク */
#neos21-footer-link {
  text-align:center;
  list-style:none;
}

#neos21-footer-link li {
  padding:0 5px;
  border-left:1px solid #ddd;
  display:inline-block;
}

#neos21-footer-link li:first-child {
  border-left:0;
}