/*!
 * Neo's World - El Mylar - 2017-01-30
 * http://neo.s21.xrea.com/
 * http://neos21.hateblo.jp/
 */
/*! Responsive: yes */



/* --------------------------------------------------
 * Normalize
 * -------------------------------------------------- */


/* ==================================================
 * Base
 * ================================================== */

/* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html {
  font-family:sans-serif;
      -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}

body {
  margin:0;
  color:#000;
  font-family:"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:500;  /* Windows の 游ゴシック Light が細いため指定・ヒラギノ・メイリオの場合は normal と同様の表示 */
  word-wrap:break-word;  /* 長い英単語も折り返す */
  background:#fff;
  cursor:default;
}

/* ==================================================
 * Links
 * ================================================== */

/* Remove the gray background color from active links in IE 10. */
a {
  color:inherit;
  text-decoration:none;
  background:transparent;
}

/* Improve readability when focused and also mouse hovered in all browsers. */
a:hover, a:active {
  outline:0;
}

/* ==================================================
 * HTML5 Display Definitions
 * ================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display:block;
}

audio, canvas, progress, video {
  display:inline-block;
  vertical-align:baseline;
}

/* Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) {
  display:none;
  height:0;
}

/* 
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display:none;
}

/* ==================================================
 * Text-level Semantics
 * ================================================== */

/* Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] {
  border-bottom:1px dotted;
}

em, em * {
  color:#090;
  font-weight:bold;
  font-style:normal;
}

strong, strong * {
  color:#f00;
  font-weight:bold;
}

/* Address styling not present in Safari and Chrome. */
dfn {
  font-style:bold;
}

/* Address styling not present in IE 8/9. */
mark {
  background:#ff0;
  color:#000;
}

/* Address inconsistent and variable font size in all browsers. */
small {
  font-size:80%;
}

/* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup {
  position:relative;
  font-size:75%;
  line-height:0;
  vertical-align:baseline;
}

sup { top   :-0.5em ; }
sub { bottom:-0.25em; }

/* ==================================================
 * Embedded Content
 * ================================================== */

/* Remove border when inside `a` element in IE 8/9/10. */
img {
  border:0;
}

/* Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) {
  overflow:hidden;
}

/* ==================================================
 * Grouping Content
 * ================================================== */

/* Address margin not present in IE 8/9 and Safari. */
figure {
  margin:1em 40px;
}

hr {
  margin:1.2em 0;
  border:0;
  border-top:1px solid #ddd;
}

/* Contain overflow in all browsers. */
pre {
  overflow:auto;
}

/* ==================================================
 * Forms
 * ================================================== */

/* 
 * 1. Correct color not being inherited. Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  margin:0;
  color:inherit;
  font:inherit;
}

/* Address `overflow` set to `hidden` in IE 8/9/10/11. */
button {
  overflow:visible;
}

/* 
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform:none;
}

/* 
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance:button;
  cursor:pointer;
}

/* Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] {
  cursor:default;
}

/* Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner {
  border:0;
  padding:0;
}

/* Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input {
  line-height:normal;
}

/* 
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing:border-box;
  padding:0;
}

/* 
 * Fix the cursor style for Chrome's increment/decrement buttons.
 * For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height:auto;
}

/* 
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance:textfield;
  -webkit-box-sizing:content-box;
     -moz-box-sizing:content-box;
          box-sizing:content-box;
}

/* 
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance:none;
}

/* 
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow:auto;
  vertical-align:top;
}

/* ==================================================
 * Tables
 * ================================================== */

table {
  border-collapse:collapse;
  border-spacing:0;
}

td, th {
  padding:0;
}


/* --------------------------------------------------
 * Page Design
 * -------------------------------------------------- */


a {
  transition:all 0.2s ease;
}

/* 基本リンク色 */
.breadcrumb a,
.entry-content a,
#comment-box a,
.pager a,
.hatena-id-link {   /* ID */
  color:#06f;
}

a:hover {
  color:#69f !important;
}

/* Clearfix */
#content:after,         /* 全体 */
.categories:after,      /* ページャ */
.pager:after,           /* カテゴリ */
.hatena-urllist:after,  /* モジュール */
.neos21-follow:before,  /* フォロー */
.neos21-follow:after,
.neos21-share:after {   /* シェア */
  display:block;
  visibility:hidden;
  clear:both;
  height:0;
  font-size:0;
  content:".";
}

/* 記事タイトル上の日付・記事下部の投稿日時・コメント欄日付 */
.entry-header .date,
.archive-entries .date,
.entry-footer-section,
.comment-metadata {
  color:#777;
  font-size:80%;
}

/* ヘッダ・フッタ・自由欄 (AdSense) */
#top-editarea,
#bottom-editarea {
  overflow:hidden;  /* ウィンドウ幅を縮めた時に広告が突っ張り棒にならないようにする */
  margin:20px auto;
  text-align:center;
}

/* フォローリンク・シェアリンク */
.neos21-follow,
.neos21-share {
  width:100%;
  padding:0;
  list-style:none;
}

.neos21-follow li {
  float:left;
  width:20%;
}

.neos21-follow a {
  display:block;
  border-radius:3px;
  text-align:center;
  transition:0.3s;
}

.neos21-follow a:hover {
  color:#fff !important;
}

.neos21-follow i {
  display:block;
  font-size:140%;
}

.neos21-follow span {
  display:block;
  font-size:85%;
  white-space:nowrap;
}

.neos21-follow-hatena    a { color:#3d3f44; }
.neos21-follow-feedly    a { color:#6cc655; }
.neos21-follow-twitter   a { color:#55acee; }
.neos21-follow-facebook  a { color:#3a5795; }
.neos21-follow-instagram a { color:#3f729b; }
.neos21-follow-hatena    a:hover { background:#3d3f44; }
.neos21-follow-feedly    a:hover { background:#6cc655; }
.neos21-follow-twitter   a:hover { background:#55acee; }
.neos21-follow-facebook  a:hover { background:#3a5795; }
.neos21-follow-instagram a:hover { background:#3f729b; }

.neos21-share li {
  float:left;
  width:25%;
}

.neos21-share li:first-child {
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.neos21-share li:last-child {
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
}

.neos21-share a {
  display:block;
  padding:3px 0;
  color:#fff !important;
  text-align:center;
  transition:0.3s;
}

.neos21-share a:hover {
  background:rgba(255, 255, 255, 0.2);
}

.neos21-share i {
  display:block;
  margin:0 0 -5px;
  font-size:140%;
}

.neos21-share span {
  font-size:70%;
}

.neos21-share-hatebu   { background:#006fbb; }
.neos21-share-twitter  { background:#55acee; }
.neos21-share-facebook { background:#3a5795; }
.neos21-share-pocket   { background:#ed4055; }

/* ==================================================
 * Container
 * ================================================== */

#container {
  width:1100px;
  margin:0 auto;
}

#content {
  display:block;
  *zoom:1;  /* IE7 のズーム機能に関するバグ回避 */
}

/* ==================================================
 * 2 Columns Layout
 * ================================================== */

/* Main */
#main {
  float:left;
  width:710px;
}

#main-inner {
  border-right:1px solid #e0e0e0;
  padding-right:40px;
}

/* Sidebar */
#box2 {
  float:right;
  width:390px;
  font-size:90%;  /* 元は 85% */
}

#box2-inner {
  border-left:1px solid #e0e0e0;
  margin-left:-1px;  /* 罫線を重ねるため */
  padding-left:40px;
}

/* ==================================================
 * Header
 * ================================================== */

#blog-title {
  margin:0 0 20px;
}

/* body.header-image-enable : ヘッダ画像を設定したとき前提 */
#blog-title-inner {
  background-position:center -190px !important;
  background-size:cover;
  height:200px !important;
}

/* はてなのヘッダとの隙間を作るのはこの h1#title */
#title {
  margin:0;
  padding:65px 20px 0;
}

#title a {
  color:#fff !important;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

#title a:hover {
  opacity:0.7;
}

#blog-description {
  padding:10px 20px 0;
  font-size:90%;
}

/* ==================================================
 * Breadcrumb
 * ================================================== */

.breadcrumb {
  margin:20px auto !important;  /* blog.css 上書き */
  padding:10px;
  border:1px solid #ddd;
  font-size:90%;
}

.breadcrumb-gt {
  margin:0 4px;
}

/* ==================================================
 * Entry
 * ================================================== */

.entry {
  position:relative;
  margin:0 0 50px;
}

/* ==================================================
 * Entry header
 * ================================================== */

.entry-header {
  position:relative;
  margin:0 0 20px;
  padding:0 0 20px;
}

/* h1 */
.entry-title {
  margin:3px 0 10px;
  font-size:160%;
  line-height:1.3;
}

/* display:inline-block; だと折り返しが発生するので float:left; を使用 */
.categories a {
  float:left;
  display:block;
  margin:0 6px 6px 0;
  padding:2px 12px;
  border:1px solid #ddd;
  border-radius:2px;
  color:#333;
  font-size:80%;
}

/* 「編集する」ボタン */
.entry-header-menu a {
  display:inline-block;
  *display:inline;
  *zoom:1;
  position:absolute;
  bottom:0;
  left:-60px;
  height:1.5em;
  padding:6px 12px;
  border:1px solid #ddd;
  color:#333;
  font-size:80%;
  background:#fff;
}

/* ==================================================
 * Entry Content
 * ================================================== */

.entry-content {
  padding:0 0 20px;
  font-size:95%;
  line-height:1.7;
}

.entry-content p {
  margin:1em 0;
}

.entry-content img {
  max-width:100%;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin:1.3em 0 0.8em;
  border-bottom: 1px solid #ddd;
  line-height:1.5;
}

.entry-content h1 { font-size:160%; }
.entry-content h2 { font-size:150%; }
.entry-content h3 { font-size:140%; }
.entry-content h4 { font-size:130%; }
.entry-content h5 { font-size:110%; }
.entry-content h6 { font-size:100%; }

.entry-content table {
  margin:1em 0;
}

.entry-content ul,
.entry-content ol,
.entry-content dd {
  margin:1em 0 1em 1.5em;
  padding:0;
}

.entry-content li ul,
.entry-content li ol {
  margin:0 0 0 1.5em;
}

.entry-content table img {
  max-width:none;
}

.entry-content th,
.entry-content td {
  padding:5px 10px;
  border:1px solid #ccc;
}

.entry-content th {
  background:#eee;
}

.entry-content blockquote {
  margin:1em 0;
  padding:10px;
  border:1px solid #beb;
  border-radius:3px;
  background:#efe;
}

.entry-content pre {
  margin:1em 0;
  padding:10px;
  border:1px solid #ddd;
  border-radius:3px;
  font-family:"Ricty Diminished", MeiryoKe_Gothic, Monaco, Consolas, "Courier New", Courier, monospace;
  white-space:pre;
  background:#f3f3f3;
}

.entry-content code {
  margin:0 2px;
  padding:0 5px;
  border:1px solid #ddd;
  border-radius:3px;
  font-size:95%;
  font-family:"Ricty Diminished", MeiryoKe_Gothic, Monaco, Consolas, "Courier New", Courier, monospace;
  background:#f3f3f3;
}

/* Amazon など */
.hatena-asin-detail li {
  line-height:1.4;
}

/* ==================================================
 * Entry Footer
 * ================================================== */

.entry-footer {
  margin:10px 0 0;
}

/* ==================================================
 * Comment
 * ================================================== */

.comment-box ul {
  margin:0 0 10px;
  padding:0;
  font-size:95%;
  line-height:1.7;
  list-style:none;
}

.comment-box li {
  position:relative;
  padding:10px 0 10px 60px;  /* 60px = アイコン分 */
  border-bottom:1px solid #ddd;
}

.comment-box li:first-child {
  border-top:1px solid #ddd;
}

.read-more-comments {
  padding:0;
}

.hatena-id-icon {
  position:absolute;
  top:10px;
  left:0;
  width:50px !important;
  height:50px !important;
  border-radius:3px;
  background-clip:padding-box;
}

.comment-user-name,
.comment-content,
.comment-content p {
  margin:0 0 10px;
}

.comment-metadata {
  margin:0;
}

/* 「コメントを書く」リンク・a 要素 */
.leave-comment-title {
  display:inline-block;
  *display:inline;
  *zoom:1;
  padding:8px 18px;
  border:1px solid #ddd;
  border-radius:2px;
  color:#333;
  font-size:80%;
  font-weight:bold;
}

/* ==================================================
 * Pager
 * ================================================== */

.pager {
  display:block;
  *zoom:1;
  margin:20px 0 0;
}

.pager-prev {
  float:left;
  width:45%;
  text-align:left;
}

.pager-next {
  float:right;
  width:45%;
  text-align:right;
}

.pager-prev:before,
.pager-next:before {
  display:block;
  margin:0 0 3px;
  color:#777;
  font-size:80%;
}

.pager-prev:before { content:"Prev"; }
.pager-next:before { content:"Next"; }

.pager-arrow {
  display:none;
}

/* ==================================================
 * Sidebar
 * ================================================== */

#box2 {
  font-size:85%;
  line-height:1.5;
}

.hatena-module {
  margin:0 0 30px;
}

.hatena-module:last-child {
  margin:0;
}

.hatena-module-title {
  margin:0 0 10px;
  color:#333;
  font-size:120%;
  font-weight:bold;
}

/* サイドバー内の広告 : ウィンドウ幅を縮めた時に広告が突っ張り棒にならないようにする */
#neos21-adsense-side {
  overflow:hidden;
  margin:0 auto;
  text-align:center;
}

/* ==================================================
 * Profile Module
 * ================================================== */

/* .hatena-module-profile */
.profile-icon {
  float:left;
  margin:0 10px 10px 0;
  border-radius:5px;
  background-clip:padding-box;
}

.id {
  display:block;
  margin:0 0 5px;
  font-weight:bold;
}

.profile-description {
  font-size:90%;
  line-height:1.5;
}

.profile-description p {
  margin:0;
}

/* ==================================================
 * URL List Module (リンク・最新記事・最近のコメント・月別アーカイブ・カテゴリは .hatena-urllist という共通の class が振られる)
 * ================================================== */

.hatena-urllist {
  margin:0;
  padding:0;
  list-style:none;
}

.hatena-urllist li {
  padding:8px 0;
  border-bottom:1px solid #e0e0e0;
  line-height:1.5;
}

/* 最新記事の日付 */
.urllist-date-link {
  font-size:90%;
}

.urllist-date-link a {
  color:#777;
}

/* 最新記事のカテゴリ */
.urllist-categories {
  margin:3px 0 0;
  color:#777;
  font-size:105%;
}

/* ==================================================
 * Category Module
 * ================================================== */

.hatena-module-category li {
  float:left;
  display:block;
  margin:0 6px 6px 0;
  padding:0;
  border:0;
}

.hatena-module-category li a {
  display:block;
  padding:2px 12px;
  color:#333;
  font-size:90%;
  border:1px solid #ddd;
  border-radius:2px;
}

/* ==================================================
 * Search Module
 * ================================================== */

/* .hatena-module-search-box */
.search-form {
  -moz-box-sizing:border-box;
       box-sizing:border-box;
  position:relative;
  width:100%;
  border:1px solid #ddd;
  border-radius:3px;
  background-clip:padding-box;
}

.search-module-input {
  width:90%;
  height:20px;
  padding:5px;
  border:0;
  color:#333;
  background:none;
  outline:0;
}

.search-module-button {
  position:absolute;
  top:5px;
  right:5px;
  width:20px;
  height:20px;
  border:0;
  text-indent:-9999px;
  background:transparent url(http://blog.hatena.ne.jp/images/theme/search.png) no-repeat right center;
  outline:0;
  opacity:0.5;
}

.search-module-button:hover {
  opacity:0.85;
}

/* ==================================================
 * Footer
 * ================================================== */

/* #bottom-editarea : ヘッダと同じ */


/* --------------------------------------------------
 * About ページ
 * -------------------------------------------------- */


.page-about .entry-content {
  border:0;
}

.page-about dt {
  margin:0 0 5px;
  border-bottom:1px solid #ddd;
  font-size:140%;
}

.page-about dd {
  margin:0 0 30px;
}


/* --------------------------------------------------
 * Archive ページ
 * -------------------------------------------------- */


/* body.page-archive */
.archive-entry {
  margin:30px 0 0;
}

.archive-entry:first-child {
  margin:0;
}

.page-archive .entry-title {
  font-size:140%;
}

.page-archive .entry-description {
  margin:5px 0 10px;
  line-height:1.5em;
}


/* --------------------------------------------------
 * Media Queries
 * -------------------------------------------------- */


/* ==================================================
 * Retina Display
 * ================================================== */

@media (-webkit-min-device-pixel-ratio:2) {
  
  .search-module-button {
    background:transparent url(http://blog.hatena.ne.jp/images/theme/search@2x.png) no-repeat right center;
    background-size:20px 20px;
  }
  
}

/* ==================================================
 * Tablet
 * ================================================== */

@media (min-width:768px) and (max-width:1124px) {
  
  #container {
    width:724px;
  }
  
  #main {
    width:464px;
  }
  
  #main-inner {
    padding-right:25px;
  }
  
  #box2 {
    width:260px;
  }
  
  #box2-inner {
    padding-left:25px;
  }
  
}

/* ==================================================
 * Small Tablet & Smartphone
 * ================================================== */

@media (max-width:767px) {
  
  #container {
    overflow:hidden;
    width:100%;
  }
  
  #top-box,
  #content {
    width:94%;
    margin-right:auto;
    margin-left:auto;
  }
  
  /* body.header-image-enable 前提 */
  #blog-title-inner {
    background-position:center -240px !important;
    background-size:auto;
    height:100px !important;
  }
  
  #title {
    padding:10px 0 0 20px !important;
  }
  
  #blog-description {
    margin:0;
    padding:5px 0 0 20px;
  }
  
  #main,
  #box2 {
    float:none;
    width:100%;
  }
  
  #box2 {
    margin:40px 0 0;
  }
  
  /* 罫線削除 */
  #main-inner,
  #box2-inner {
    padding:0;
    border:0;
    margin:0;
  }
  
  .entry-header-menu a {
    top:-40px;
    left:0;
  }
  
}

/* ==================================================
 * Smartphone
 * ================================================== */

/* @media (max-width:480px) {} */